[submodule "ext/snowcrash"]
	path = ext/snowcrash
	url = https://github.com/apiaryio/snowcrash.git
[submodule "test/vendor/Catch"]
	path = test/vendor/Catch
	url = git://github.com/philsquared/Catch.git
[submodule "ext/sos"]
	path = ext/sos
	url = https://github.com/apiaryio/sos.git
[submodule "ext/cmdline"]
	path = ext/cmdline
	url = https://github.com/apiaryio/cmdline.git
[submodule "test/vendor/dtl"]
	path = test/vendor/dtl
	url = https://github.com/apiaryio/dtl
