[submodule "ext/sundown"]
	path = ext/sundown
	url = https://github.com/apiaryio/sundown.git
[submodule "ext/Catch"]
	path = ext/Catch
	url = https://github.com/catchorg/Catch2.git
[submodule "ext/cmdline"]
	path = ext/cmdline
	url = https://github.com/apiaryio/cmdline.git
[submodule "ext/dtl"]
	path = ext/dtl
	url = https://github.com/apiaryio/dtl
[submodule "ext/boost-config"]
	path = ext/boost-config
	url = https://github.com/apiaryio/boost-config.git
[submodule "ext/boost-assert"]
	path = ext/boost-assert
	url = https://github.com/apiaryio/boost-assert.git
[submodule "ext/boost-core"]
	path = ext/boost-core
	url = https://github.com/apiaryio/boost-core.git
[submodule "ext/boost-container"]
	path = ext/boost-container
	url = https://github.com/apiaryio/boost-container.git
[submodule "ext/boost-move"]
	path = ext/boost-move
	url = https://github.com/apiaryio/boost-move.git
[submodule "ext/boost-static_assert"]
	path = ext/boost-static_assert
	url = https://github.com/apiaryio/boost-static_assert.git
[submodule "ext/boost-intrusive"]
	path = ext/boost-intrusive
	url = https://github.com/apiaryio/boost-intrusive
[submodule "ext/boost-functional"]
	path = ext/boost-functional
	url = https://github.com/apiaryio/boost-functional
[submodule "ext/boost-tuple"]
	path = ext/boost-tuple
	url = https://github.com/apiaryio/boost-tuple.git
[submodule "ext/boost-type_traits"]
	path = ext/boost-type_traits
	url = https://github.com/apiaryio/boost-type_traits
[submodule "ext/boost-utility"]
	path = ext/boost-utility
	url = https://github.com/apiaryio/boost-utility.git
[submodule "ext/boost-mpl"]
	path = ext/boost-mpl
	url = https://github.com/apiaryio/boost-mpl
[submodule "ext/boost-preprocessor"]
	path = ext/boost-preprocessor
	url = https://github.com/apiaryio/boost-preprocessor
[submodule "ext/boost-integer"]
	path = ext/boost-integer
	url = https://github.com/apiaryio/boost-integer.git
[submodule "ext/boost-typeof"]
	path = ext/boost-typeof
	url = https://github.com/apiaryio/boost-typeof.git
[submodule "ext/boost-predef"]
	path = ext/boost-predef
	url = https://github.com/apiaryio/boost-predef.git
[submodule "ext/boost-detail"]
	path = ext/boost-detail
	url = https://github.com/apiaryio/boost-detail
[submodule "ext/boost-throw_exception"]
	path = ext/boost-throw_exception
	url = https://github.com/apiaryio/boost-throw_exception.git
[submodule "ext/boost-smart_ptr"]
	path = ext/boost-smart_ptr
	url = https://github.com/apiaryio/boost-smart_ptr.git
