[submodule "ext/snowcrash/ext/markdown-parser/ext/sundown"]
	path = ext/snowcrash/ext/markdown-parser/ext/sundown
	url = https://github.com/apiaryio/sundown.git
[submodule "test/vendor/Catch"]
	path = test/vendor/Catch
	url = https://github.com/catchorg/Catch2.git
[submodule "ext/cmdline"]
	path = ext/cmdline
	url = https://github.com/apiaryio/cmdline.git
[submodule "test/vendor/dtl"]
	path = test/vendor/dtl
	url = https://github.com/apiaryio/dtl
