version: 2

aliases:
  - &test-base-legacy
    working_directory: /tmp/drafter
    environment:
      CXXFLAGS: '-Werror -Wno-error=unused-function'
    steps:
      - checkout
      - run: git submodule update --init --recursive
      - run:
          name: Build
          command: |
            ./configure
            make -j4
      - run:
          name: Test
          command: make test -j4

  - &test-base
    working_directory: /tmp/drafter

  - &tag-filter
    filters:
      tags:
        only: /^v.*/

  - &clang-debug
    run:
      name: Build drafter/debug with clang
      command: |
          ctest -VV -j4 -S cmake/unix.cmake -DCTEST_BUILD_TYPE=Debug -DCTEST_BUILD_NAME="clang $(c++ -dumpversion)"

  - &clang-release
    run:
      name: Build drafter/release with clang
      command: |
          ctest -VV -j4 -S cmake/unix.cmake -DCTEST_BUILD_TYPE=Release -DCTEST_BUILD_NAME="clang $(c++ -dumpversion)"

  - &gcc-debug
    run:
      name: Build drafter/debug with gcc
      command: |
          ctest -VV -j4 -S cmake/unix.cmake -DCTEST_BUILD_TYPE=Debug -DCTEST_BUILD_NAME="gcc $(c++ -dumpversion)"

  - &gcc-release
    run:
      name: Build drafter/release with gcc
      command: |
          ctest -VV -j4 -S cmake/unix.cmake -DCTEST_BUILD_TYPE=Release -DCTEST_BUILD_NAME="gcc $(c++ -dumpversion)"

  - &coverage
    run:
      name: Build drafter/release with gcc
      command: |
          ctest -VV -j4 -S cmake/unix-coverage.cmake -DCTEST_BUILD_TYPE=Debug -DCTEST_BUILD_NAME="coverage $(c++ -dumpversion)"

  - &ubsan
    run:
      name: Build drafter/release with gcc
      command: |
          ctest -VV -j4 -S cmake/unix-ubsan.cmake -DCTEST_BUILD_TYPE=Release -DCTEST_BUILD_NAME="gcc $(c++ -dumpversion)"

  - &asan
    run:
      name: Build drafter/release with gcc
      command: |
          ctest -VV -j4 -S cmake/unix-asan.cmake -DCTEST_BUILD_TYPE=Release -DCTEST_BUILD_NAME="gcc $(c++ -dumpversion)"

  - &update-submodules
    run:
      name: Update submodules
      command: 'git submodule update --init --recursive'

workflows:
  version: 2

  drafter:
    jobs:
      - lint
      - build: *tag-filter
      - test-gcc-49-debug: *tag-filter
      - test-gcc-49-release: *tag-filter
      - test-gcc-latest-debug: *tag-filter
      - test-gcc-latest-release: *tag-filter
      - test-clang-4-debug: *tag-filter
      - test-clang-4-release: *tag-filter
      - test-clang-latest-debug: *tag-filter
      - test-clang-latest-release: *tag-filter
      - test-osx-release: *tag-filter
      - test-osx-debug: *tag-filter
      - test-gyp: *tag-filter
      - test-valgrind: *tag-filter
      - test-coverage: *tag-filter
      - test-ubsan: *tag-filter
      - test-asan: *tag-filter
      - release:
          requires:
            - build
            - test-gcc-49-debug
            - test-gcc-49-release
            - test-gcc-latest-debug
            - test-gcc-latest-release
            - test-clang-4-debug
            - test-clang-4-release
            - test-clang-latest-debug
            - test-clang-latest-release
            - test-osx-release
            - test-osx-debug
            - test-gyp
            - test-valgrind
            - test-ubsan
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/

jobs:
  lint:
    docker:
      - image: apiaryio/clang:5

    steps:
      - checkout
      - run: git submodule update --init --recursive
      - run: ./tools/clang-format-check.sh
      - run:
          name: Verify THIRD_PARTY_LICENSES.txt
          command: |
            ./tools/third-party-licenses-check.sh

  build:
    docker:
      - image: circleci/python:3.7

    steps:
      - checkout
      - run: git submodule update --init --recursive
      - setup_remote_docker
      - run: docker build -t drafter .
      - run: echo '# My API' | docker run -i drafter

  test-gyp:
    <<: *test-base-legacy
    docker:
      - image: gcc:4.8.5

  test-gcc-49-debug:
    <<: *test-base
    steps:
      - checkout
      - <<: *update-submodules
      - <<: *gcc-debug
    docker:
      - image: apiaryio/drafter-ci:gcc-4.9

  test-gcc-49-release:
    <<: *test-base
    steps:
      - checkout
      - <<: *update-submodules
      - <<: *gcc-release
    docker:
      - image: apiaryio/drafter-ci:gcc-4.9

  test-gcc-latest-debug:
    <<: *test-base
    steps:
      - checkout
      - <<: *update-submodules
      - <<: *gcc-debug
    docker:
      - image: apiaryio/drafter-ci:gcc-latest

  test-gcc-latest-release:
    <<: *test-base
    steps:
      - checkout
      - <<: *update-submodules
      - <<: *gcc-release
    docker:
      - image: apiaryio/drafter-ci:gcc-latest

  test-clang-4-debug:
    <<: *test-base
    steps:
      - checkout
      - <<: *update-submodules
      - <<: *clang-debug
    docker:
      - image: apiaryio/drafter-ci:clang-4.0

  test-clang-4-release:
    <<: *test-base
    steps:
      - checkout
      - <<: *update-submodules
      - <<: *clang-release
    docker:
      - image: apiaryio/drafter-ci:clang-4.0

  test-clang-latest-debug:
    <<: *test-base
    steps:
      - checkout
      - <<: *update-submodules
      - <<: *clang-debug
    docker:
      - image: apiaryio/drafter-ci:clang-latest

  test-clang-latest-release:
    <<: *test-base
    steps:
      - checkout
      - <<: *update-submodules
      - <<: *clang-release
    docker:
      - image: apiaryio/drafter-ci:clang-latest

  test-ubsan:
    <<: *test-base
    steps:
      - checkout
      - <<: *update-submodules
      - <<: *ubsan
    docker:
      - image: apiaryio/drafter-ci:clang-latest

  test-asan:
    <<: *test-base
    steps:
      - checkout
      - <<: *update-submodules
      - <<: *asan
    docker:
      - image: apiaryio/drafter-ci:clang-latest

  test-osx-debug:
    <<: *test-base
    steps:
      - checkout
      - <<: *update-submodules
      - run: sudo bundle install
      - run: brew install cmake
      - <<: *clang-debug
    macos:
      xcode: "11.2.1"

  test-osx-release:
    <<: *test-base
    steps:
      - checkout
      - <<: *update-submodules
      - run: sudo bundle install
      - run: brew install cmake
      - <<: *clang-release
    macos:
      xcode: "11.2.1"

  test-valgrind:
    <<: *test-base-legacy
    docker:
      - image: gcc:7

    steps:
      - checkout
      - run: git submodule update --init --recursive
      - run: apt-get update && apt-get install -y valgrind

      - run:
          name: Build
          command: |
            ./configure
            make -j4
            make test -j4

      - run:
          name: Memory Test
          command: |
            mkdir artifacts
            valgrind --leak-check=full --show-leak-kinds=definite,indirect,possible --error-exitcode=1 ./bin/test-libdrafter 2> artifacts/memcheck.log
            valgrind --leak-check=full --show-leak-kinds=definite,indirect,possible --error-exitcode=1 ./bin/test-capi 2> artifacts/memcheck-capi.log

      - store_artifacts:
          path: artifacts

  test-coverage:
    <<: *test-base
    steps:
      - checkout
      - <<: *update-submodules
      - <<: *coverage
    docker:
      - image: apiaryio/drafter-ci:gcc-latest


  release:
    docker:
      - image: circleci/ruby:2.5.1
    working_directory: /tmp/drafter

    steps:
      - checkout
      - <<: *update-submodules
      - run: ./tools/release.sh

